@import "../../sass/_variables";

.section{
    padding-top: 140px;
};
.title{
    font-size: 40px;
        line-height: 1;
        text-align: center;
        color: $text-color;
        margin-bottom: 50px;
}