.uploadContainer {
    display: flex;  
    align-items: center;
    margin-top: 68px;

    @media screen and (min-width: 768px) {
            width: 380px;
            margin: 0 auto;
            margin-top: 55px;
        }
    
        ;

    @media screen and (min-width: 1024px) {
            width:380px;
            margin: 0 auto;
            margin-top: 55px;
        };

    input[type="file"] {
            display: none;
        }

    label {
            
            box-shadow: 0px 4px 4px 0px #00000040;
    
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.87);
            background: #fff;
        }

                label[for="file-upload"] {
                    cursor: pointer;
                    padding: 1rem 0.75rem;
                  
                border: 1px solid #000000DE;
                    font-size: 1.2rem;
                    color: #333;
                    transition: all 0.3s ease;
                }
}

.uploadText {
    border: 1px solid #D0CFCF;
    border-radius: 4px;
    width: 100%;
    background: #fff;
    border-left: none;
    height: 61px;
    display: flex;
        align-items: center;
        color: #7E7E7E;
        font-size: 16px;
            line-height: 1.6;
            margin: 0;
            padding-left: 5px;
};




label[for="file-upload"] {
    cursor: pointer;
    padding: 1rem;
    border: 2px solid #ced4da;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #333;
    transition: all 0.3s ease;
};

.uploadBtnText{
    color:#000000DE;
    font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
};