.header{  
        padding: 13px 0px;
};

.flexWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

