
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$primary-bg: #F4E041;
$hover-bg:  #FFE302;
$text-color:#000000DE;
.btn-primary {
    min-width: 100px;
    font-size: 16px;
        line-height: 1.6;
        text-align: center;
    background-color:$primary-bg;
    color: $text-color ;
    border: none;
    border-radius: 80px;
        margin-bottom: 100px;

    &:hover{
    background-color:$hover-bg;
color: $text-color ;
    };
};

.form-floating{
    @media screen and (min-width: 768px) {
        width: 380px;
            margin: 0 auto;
        }
    
            
        @media screen and (min-width: 1024px) {
                width: 380px;
                margin: 0 auto;
                
            }
};

.form-check{
    @media screen and (min-width: 768px) {
            width: 380px;
            margin: 0 auto;
            margin-bottom: 6px;
        };

@media screen and (min-width: 1024px) {
        width: 380px;
        margin: 0 auto;
        margin-bottom: 6px;
    }
}



.d-inline-block{
    max-width: 100px;
};

.text-truncate:hover {
    overflow: visible;
    white-space: normal;
    cursor: pointer;
};

.mg{
    margin-bottom: 46px;
    @media screen and (min-width: 1024px) {
        margin-bottom: 46px;
        }
    
}




